<!DOCTYPE html>
<html>
<head>
  <title>FlatironBnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Cities", cities_path %>
<%= link_to "Listings", listings_path %>
<%= link_to "Neighborhoods", neighborhoods_path %>
<%= yield %>

</body>
</html>
